body, html {
    margin: 0;
    padding: 0;
}

header {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.presentation {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.mockupPresentation {
    width: 45%;
}

.mockupPresentation img {
    width: 100%;
}

