body, html {
    margin: 0;
    padding: 0;
}

/*  HEADER  */

header {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.presentation {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.mockupPresentation {
    width: 45%;
}

.mockupPresentation img {
    width: 100%;
}

/*  COLLECTE  */
.collecte {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.contenuCollecte {
    display: flex;
    flex-direction: column;
}

.etapeCollecte {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*  EXPLORER  */
