body, html {
    margin: 0;
    padding: 0;
}

/*  HEADER  */

header {
    margin: 2rem auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.presentation {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
}

.mockupPresentation {
    width: 45%;
}

.mockupPresentation img {
    width: 100%;
}

/*  COLLECTE  */
.collecte {
    margin: 2rem auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.contenuCollecte {
    display: flex;
    flex-direction: column;
}

.etapeCollecte {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*  EXPLORER  */
.explorer {
    margin: 2rem auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenuExplorer {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mockupExplorer {
    width: 45%;
}

.mockupExplorer img{
    width: 100%;
}

/* SUCCES */
.succes {
    margin: 2rem auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenuSucces {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mockupSucces {
    width: 45%;
}

.mockupSucces img{
    width: 100%;
}

/* TELECHARGE */ 
.telecharger {
    margin: 2rem auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenuTelecharger {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconeInstallation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mockupTelecharger {
    width: 45%;
}

.mockupTelecharger img{
    width: 100%;
}

/* FOOTER */
footer {
    margin: 2rem auto 1rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reseauxSociaux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reseauxSociaux a img {
    margin: 0 0.5rem;
}