:root {
    --color-primary: #002E50;
    --color-secondary: #00DABE;
    --font-family: 'Open Sans', sans-serif;
  }
  

/* GENERAL */
html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

h1 {
    color: var(--color-primary);
    font-size: 3.812rem;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 3.062rem;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
    color: var(--color-primary);
}

h3 {
    font-size: 2.438rem;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
    color: var(--color-primary);
}

p {
    font-size: 1rem;
    color: var(--color-primary);
}

legend {
    font-size: 0.625rem;
    color: var(--color-primary);
}

/* Flex-box */

.d-flex {
    display: flex;
}

.d-flex-column {
    flex-direction: column;
}

.d-flex-justify-spacebetween {
    justify-content: space-between;
}

.d-flex-align-center {
    align-items: center;
}

/* Margin */

.margin-left-right {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.margin-top-bottom {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Padding */

.padding-bottom {
    padding-bottom: 3rem;
}

.padding-top {
    padding-top: 3rem;
}

.padding-left-right {
    padding-left: 5%;
    padding-right: 5%;
}

/*  HEADER  */

header {
    margin: 3rem 0;
}

.presentation {
    width: 60%;
}

.mockupPresentation img {
    src: url("assets/img/mockupAccueil.png");
}

button {
    margin: 1rem 0;
    width: 242px;
    height: 56px;
    border-radius: 42px;
    border: 0;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.250rem;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    border: 5px solid var(--color-secondary);
    border-radius: 42px;
    transition: 0.4s ease;
}

.next {
    margin: 2rem auto;
    animation: 2s ease-in-out 1s infinite alternate apparition;
}

/* COLLECTER */

.collecter {
    background-color: var(--color-primary);
}

.collecter h2 {
    color: #fff;
}

.collecter p {
    color: #fff;
}

.mockupCollecter img {
    src: url("assets/img/mockupCollecte.png");
}

/* Explorer */

.contenuExplorer {
    margin-right: 10rem;
    width: 40%;
}

.mockupExplorer img {
    src: url("assets/img/mockupExplorer.png");
}

.drop-shadow {
    float: right;
}

.drop-shadow img {
    filter: drop-shadow(7px 7px 15px #666666);
    -webkit-filter: drop-shadow(7px 7px 15px #666666);
}

/* Succes */

.succes {
    background-color: var(--color-secondary);
}

.mockupSucces img {
    src: url("assets/img/mockupSucces.png");
}

.contenuSucces {
    width: 40%;
}

/* Telecharger */

.contenuTelecharger {
    width: 40%;
}

.mockupTelecharger img {
    src: url("assets/img/mockupTelecharger.png");
}

.logoTelecharger img {
    margin-right: 1rem;
}

/* Footer */

.mentionLegale a {
    text-decoration: none;
    color: #002E50;
    margin-left: 2rem;
}

/* Keyframes */

@keyframes apparition {
    to {
        opacity: 0;
        transform: translateY(-1rem);
    }

    from {
        opacity: 1;
        transform: translateY(0);
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1500px) {
    .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .d-flex-justify-spacebetween {
        justify-content: none;
    }

    h1,
    h2,
    h3,
    legend,
    p {
        text-align: center;
    }

    .succes {
        order: 1;
    }

    .mockupSucces {
        order: 2;
    }

    .contenuExplorer {
        margin: 0;
    }

}

@media screen and (max-width : 1080px) {
    .mockupPresentation img {
        src: url("assets/img/mockupAccueil-petit.png");
    }

    .mockupCollecter img {
        src: url("assets/img/mockupCollecte-petit.png");
    }

    .mockupExplorer img {
        src: url("assets/img/mockupExplorer-petit.png");
    }

    .mockupSucces img {
        src: url("assets/img/mockupSucces-petit.png");
    }

    .mockupTelecharger img {
        src: url("assets/img/mockupTelecharger-petit.png");
    }
}