/* GENERAL */
* {
    font-family: 'Open Sans', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.812rem;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
    color: #002E50;
}

h2 {
    font-size: 3.062rem;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}

h3 {
    font-size: 2.438rem;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
}

legend {
    font-size: 0.625rem;
}

/*.d-flex {
    display: flex;
    /*justify-content: center;
}*/

.margin-left-right {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.margin-top-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.padding-left-right {
    padding-left: 95.156px;
    padding-right: 95.156px;
    width: 90%;
}

.padding-bottom {
    padding-bottom: 1rem;
}

.padding-top {
    padding-top: 1rem;
}

/*  HEADER  */

header {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
}

.containerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation {
    display: flex;
    flex-direction: column;
    width: 60%;
}

button {
    margin: 1rem 0;
    width: 242px;
    height: 56px;
    border-radius: 42px;
    border: 0;
    background-color: #00DABE;
}

button a {
    text-decoration: none;
    color: #002E50;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.250rem;
}

.next {
    margin: 0 auto;
}

/* COLLECTER */

.collecter {
    background-color: #002E50;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collecter h2 {
    color: #fff;
}

.collecter p {
    color: #fff;
}

/* Explorer */

.explorer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.mockupExplorer {
    float: right;
}

.mockupExplorer img {
    filter: mockupExplorer(7px 7px 10px #666666);
    -webkit-filter: mockupExplorer(7px 7px 10px #666666);
}