/* GENERAL */
* {
    font-family: 'Open Sans', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
}

h2 {
    font-size: 3.812rem;
    font-weight: 800;
    margin: 0;
}

h3 {
    font-size: 2.938rem;
    font-weight: 800;
    margin: 0;
}

p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.d-flex {
    display: flex;
}

.d-flex-column {
    flex-direction: column;
}

.d-flex-spacearound {
    justify-content: space-around;
}

.margin-top-bot {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.margin {
    margin: 2rem auto;
    width: 90%;
}

/*  HEADER  */
